@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  background-color: #f8fafc;
  color: #1e293b;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Minimalist Industrial Grid System Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; 
}
 
::-webkit-scrollbar-thumb {
  background: #94a3b8; 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8; 
}